html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Playfair Display", serif;
  scroll-behavior: smooth;
  height: 100%;
  overflow-x: hidden; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0; }

*:focus {
  outline: dotted 2px #a26952; }

body {
  height: 100%;
  width: 100vw;
  max-width: 160rem;
  margin: 0 auto; }

a,
a:visited,
a:link,
a:active {
  text-decoration: none;
  font-family: "Playfair Display", serif;
  color: #a26952; }

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  color: #a26952;
  font-weight: 400; }

.headline--section {
  font-size: clamp(2rem, 5vw, 3rem);
  margin-top: 2rem; }

p {
  font-family: "Raleway", sans-serif;
  color: #a26952;
  line-height: 1.5em;
  font-size: clamp(1rem, 3vw, 1.2rem); }

.text {
  margin-bottom: 3rem; }

.cta {
  padding: 1em 2em;
  margin-bottom: 2rem;
  font-family: "Raleway", sans-serif !important;
  font-size: 1rem;
  color: #a26952;
  background: white;
  border: 1px solid #a26952;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in; }

.cta:hover {
  background: #a26952;
  color: white; }

.social-link {
  width: 1.5rem;
  height: 1.5rem;
  background: #a26952;
  -webkit-mask-size: cover;
          mask-size: cover;
  cursor: pointer; }

.social-link--fb {
  -webkit-mask: url(../images/icon-facebook.svg);
          mask: url(../images/icon-facebook.svg); }

.social-link--insta {
  -webkit-mask: url(../images/icon-instagram.svg);
          mask: url(../images/icon-instagram.svg); }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.span2 {
  grid-column-end: span 2; }

@media only screen and (min-width: 64.0625rem) {
  .hide-on-large {
    display: none; } }

@media only screen and (max-width: 62.5rem) {
  .hide-on-small {
    display: none; } }

@-webkit-keyframes fade-in-next {
  from {
    -webkit-transform: translateX(15rem);
            transform: translateX(15rem);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1; } }

@keyframes fade-in-next {
  from {
    -webkit-transform: translateX(15rem);
            transform: translateX(15rem);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1; } }

@-webkit-keyframes fade-in-prev {
  from {
    -webkit-transform: translateX(-15rem);
            transform: translateX(-15rem);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1; } }

@keyframes fade-in-prev {
  from {
    -webkit-transform: translateX(-15rem);
            transform: translateX(-15rem);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1; } }

.logo-container {
  position: fixed;
  top: 0;
  width: 98vw;
  height: 7.5rem;
  left: 1vw;
  background: white;
  z-index: 10; }

.logo-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #a26952; }

.logo-link {
  z-index: 11; }

.logo__img {
  width: 6.25rem;
  height: auto;
  z-index: 1; }
  @media only screen and (min-width: 64.0625rem) {
    .logo__img {
      width: 7.5rem; } }

.contact-head {
  position: fixed;
  top: 1.25rem;
  right: 1.25rem;
  z-index: 11; }
  .contact-head a + a {
    margin-left: 1rem; }

.burger-menu {
  position: fixed;
  bottom: 4.5rem;
  right: 3.125rem;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background: #a26952;
  z-index: 101;
  cursor: pointer; }
  .burger-menu__line {
    width: 70%;
    height: 2px;
    background: white;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; }
  .burger-menu__line--middle {
    width: 80%;
    margin-top: 8px;
    margin-bottom: 8px; }

.container {
  width: 100vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.nav-container {
  z-index: 100;
  position: fixed;
  top: 7.5rem;
  left: 0;
  width: 100vw;
  height: calc(100vh - 7.5rem);
  background: white;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%); }
  @media only screen and (min-width: 64.0625rem) {
    .nav-container {
      width: 50vw !important;
      height: 100vh !important;
      z-index: 0;
      top: unset;
      left: unset;
      -webkit-transform: unset !important;
              transform: unset !important; } }

.nav {
  z-index: 100; }
  .nav__wrapper {
    background: rgba(255, 255, 255, 0.9);
    padding: 1em;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .nav__link-wrapper {
    -webkit-perspective: 500px;
            perspective: 500px;
    -webkit-perspective-origin: center;
            perspective-origin: center;
    position: relative; }
  .nav__link {
    font-size: clamp(2.5rem, 5vw, 3.5rem);
    line-height: 1.5em;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    display: block;
    -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
    -webkit-transition: opacity 0.25s ease-out, -webkit-transform 0.5s ease-in-out;
    transition: opacity 0.25s ease-out, -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, opacity 0.25s ease-out;
    transition: transform 0.5s ease-in-out, opacity 0.25s ease-out, -webkit-transform 0.5s ease-in-out; }
  .nav .link-up {
    -webkit-transform: translateY(-70%) rotateX(0.25turn);
            transform: translateY(-70%) rotateX(0.25turn);
    opacity: 0; }
  .nav .bottom {
    position: absolute;
    font-size: clamp(2.5rem, 5vw, 3.5rem);
    color: #a26952;
    opacity: 0.5;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
    -webkit-transition: opacity 0.5s ease-out, -webkit-transform 0.5s ease-in-out;
    transition: opacity 0.5s ease-out, -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-out;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-out, -webkit-transform 0.5s ease-in-out;
    cursor: pointer; }
  .nav .bottom-down {
    -webkit-transform: translateY(-100%) rotateX(-0.25turn);
            transform: translateY(-100%) rotateX(-0.25turn);
    opacity: 0; }

main {
  width: 100vw; }
  @media only screen and (min-width: 64.0625rem) {
    main {
      width: 50vw;
      margin-left: 50vw;
      padding-right: 2rem;
      -webkit-transform: translateY(0);
              transform: translateY(0); } }

section {
  padding: 0 1.25rem;
  margin-bottom: 3rem; }
  @media only screen and (min-width: 64.0625rem) {
    section {
      padding: 0 1.25rem 0 0; } }

.hero {
  height: 100vh;
  margin-bottom: 3rem; }
  .hero__headline {
    margin-top: 3rem;
    text-align: center;
    font-size: clamp(2rem, 5vw, 3rem); }
  .hero__slider {
    width: 90%;
    height: 45vh;
    margin-top: 3rem;
    -webkit-perspective: 45vh;
            perspective: 45vh;
    -webkit-perspective-origin: center 50%;
            perspective-origin: center 50%;
    position: relative; }
  .hero .slider__img {
    position: absolute;
    height: 100%;
    width: auto;
    margin: 0 auto;
    -webkit-transition: opacity 1s ease-in, -webkit-transform 1.5s cubic-bezier(0.45, 0.04, 0.42, 1);
    transition: opacity 1s ease-in, -webkit-transform 1.5s cubic-bezier(0.45, 0.04, 0.42, 1);
    transition: transform 1.5s cubic-bezier(0.45, 0.04, 0.42, 1), opacity 1s ease-in;
    transition: transform 1.5s cubic-bezier(0.45, 0.04, 0.42, 1), opacity 1s ease-in, -webkit-transform 1.5s cubic-bezier(0.45, 0.04, 0.42, 1); }
  .hero .pos1 {
    -webkit-transform: scale(0.3) translateX(26vh) rotateY(90deg);
            transform: scale(0.3) translateX(26vh) rotateY(90deg);
    opacity: 0;
    -webkit-box-shadow: 0 10px 15px -8px rgba(0, 0, 0, 0.5);
            box-shadow: 0 10px 15px -8px rgba(0, 0, 0, 0.5);
    z-index: -2; }
  .hero .pos2 {
    -webkit-transform: scale(0.7) translateX(26vh) rotateY(54deg);
            transform: scale(0.7) translateX(26vh) rotateY(54deg);
    opacity: 0.7;
    -webkit-box-shadow: 0 10px 15px -8px rgba(0, 0, 0, 0.5);
            box-shadow: 0 10px 15px -8px rgba(0, 0, 0, 0.5);
    z-index: -1; }
  .hero .pos3 {
    -webkit-box-shadow: 0 10px 15px -8px rgba(0, 0, 0, 0.5);
            box-shadow: 0 10px 15px -8px rgba(0, 0, 0, 0.5); }
  .hero .pos4 {
    -webkit-transform: scale(0.7) translateX(-26vh) rotateY(-54deg);
            transform: scale(0.7) translateX(-26vh) rotateY(-54deg);
    opacity: 0.7;
    -webkit-box-shadow: 0 10px 15px -8px rgba(0, 0, 0, 0.5);
            box-shadow: 0 10px 15px -8px rgba(0, 0, 0, 0.5);
    z-index: -1; }
  .hero .pos5 {
    -webkit-transform: scale(0.3) translateX(-26vh) rotateY(-90deg);
            transform: scale(0.3) translateX(-26vh) rotateY(-90deg);
    opacity: 0;
    -webkit-box-shadow: 0 10px 15px -8px rgba(0, 0, 0, 0.5);
            box-shadow: 0 10px 15px -8px rgba(0, 0, 0, 0.5);
    z-index: -2; }

.weddings__headline {
  margin-bottom: 7rem; }
  @media only screen and (min-width: 120.0625rem) {
    .weddings__headline {
      margin-bottom: 10rem; } }

.weddings__img-container {
  width: 100%;
  margin-bottom: 5rem; }
  @media only screen and (min-width: 120.0625rem) {
    .weddings__img-container {
      margin-bottom: 7rem; } }

.weddings .upright {
  position: relative;
  width: 28%;
  height: auto;
  background: white;
  padding: 1%;
  -webkit-box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.3); }

.weddings .across {
  position: relative;
  width: 39%;
  height: auto;
  background: white;
  padding: 1%;
  -webkit-box-shadow: 0 10px 20px -8px rgba(63, 46, 46, 0.3);
          box-shadow: 0 10px 20px -8px rgba(63, 46, 46, 0.3); }

.weddings__img--left {
  -webkit-transform: scale(1.2) translate(7%) rotate(-5deg);
          transform: scale(1.2) translate(7%) rotate(-5deg);
  z-index: 2; }

.weddings__img--middle {
  -webkit-transform: scale(1.3) translate(5%, -60%);
          transform: scale(1.3) translate(5%, -60%);
  z-index: 1; }

.weddings__img--right {
  -webkit-transform: scale(1.2) translate(0%, 10%) rotate(5deg);
          transform: scale(1.2) translate(0%, 10%) rotate(5deg);
  z-index: 2; }

.weddings__img2--left {
  -webkit-transform: scale(1.2) translate(10%) rotate(-5deg);
          transform: scale(1.2) translate(10%) rotate(-5deg);
  z-index: 1; }

.weddings__img2--middle {
  -webkit-transform: scale(1.1) translate(0%, -40%);
          transform: scale(1.1) translate(0%, -40%);
  z-index: 2; }

.weddings__img2--right {
  -webkit-transform: scale(1.2) translate(0%, 5%) rotate(5deg);
          transform: scale(1.2) translate(0%, 5%) rotate(5deg);
  z-index: 1; }

.weddings__text {
  margin: 3rem 0 3rem 0; }

.weddings__img--full {
  width: 100%;
  height: auto;
  -webkit-box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.3);
  -ms-flex-item-align: center;
      align-self: center; }

.portraits__headline {
  margin-bottom: 3rem; }

.portraits__img-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0.75rem;
  margin-bottom: 3rem; }
  @media only screen and (min-width: 64.0625rem) {
    .portraits__img-container {
      gap: 1.25rem; } }

.portraits__img-wrapper {
  -webkit-box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.3); }

.portraits__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.lifestyle__headline {
  margin-bottom: 3rem; }

.lifestyle__img-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0.75rem;
  margin-bottom: 3rem; }
  @media only screen and (min-width: 64.0625rem) {
    .lifestyle__img-container {
      gap: 1.25rem; } }

.lifestyle__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.lifestyle__img-wrapper {
  -webkit-box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.3); }

.about__headline {
  margin-bottom: 3rem; }

.about__img-container {
  width: 100%; }
  @media only screen and (min-width: 64.0625rem) {
    .about__img-container {
      width: 25vw; } }

.about__img {
  width: 100%;
  height: auto;
  -webkit-box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.3);
  margin-bottom: 3rem; }

.gallery__headline {
  margin-bottom: 3rem;
  text-align: center; }

.gallery__grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 0.75rem; }
  @media only screen and (min-width: 64.0625rem) {
    .gallery__grid-container {
      gap: 1.25rem; } }

.gallery__img-wrapper {
  width: 100%;
  height: auto;
  overflow: hidden;
  -webkit-box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.3); }

.gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.8s ease-in;
  transition: -webkit-transform 0.8s ease-in;
  transition: transform 0.8s ease-in;
  transition: transform 0.8s ease-in, -webkit-transform 0.8s ease-in;
  cursor: pointer; }

.gallery__img:hover {
  -webkit-transform: scale(1.05) rotate(1deg);
          transform: scale(1.05) rotate(1deg); }

.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: -50px;
  background: rgba(0, 0, 0, 0.95);
  z-index: 1000; }
  .modal__btn--close {
    width: 2rem;
    height: 2rem;
    position: relative;
    margin-left: 85%;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 100; }
  .modal__btn--close::before {
    content: "";
    position: absolute;
    top: 49%;
    width: 100%;
    height: 2px;
    background: white;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .modal__btn--close::after {
    content: "";
    position: absolute;
    top: 49%;
    width: 100%;
    height: 2px;
    background: white;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .modal__img-wrapper {
    width: 100%; }
    @media only screen and (orientation: landscape) {
      .modal__img-wrapper {
        -webkit-transform: translateY(-1rem);
                transform: translateY(-1rem); } }
  .modal .nextImg {
    -webkit-animation: fade-in-next 0.75s forwards cubic-bezier(0.38, 0.1, 0.05, 0.9);
            animation: fade-in-next 0.75s forwards cubic-bezier(0.38, 0.1, 0.05, 0.9); }
  .modal .prevImg {
    -webkit-animation: fade-in-prev 0.75s forwards cubic-bezier(0.38, 0.1, 0.05, 0.9);
            animation: fade-in-prev 0.75s forwards cubic-bezier(0.38, 0.1, 0.05, 0.9); }
  .modal__btn-container {
    position: absolute;
    bottom: 7.5rem;
    left: 50vw;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
    @media only screen and (min-width: 64.0625rem) {
      .modal__btn-container {
        bottom: 4.6875rem; } }
  .modal__btn--prev, .modal__btn--next {
    width: 50px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0.4rem;
    margin: 0 3rem;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer; }
    .modal__btn--prev img, .modal__btn--next img {
      width: 60%;
      height: auto; }
  .modal .up {
    width: 100vmin;
    height: auto;
    -ms-flex-item-align: center;
        align-self: center; }
    @media only screen and (orientation: landscape) {
      .modal .up {
        height: 90vh;
        width: auto;
        margin-top: 0; } }
  .modal .acr {
    width: 90vmin;
    height: auto;
    -ms-flex-item-align: center;
        align-self: center; }
    @media only screen and (orientation: landscape) {
      .modal .acr {
        height: 90vh;
        width: auto; } }

.closed {
  display: none; }

.footer__headline {
  margin-bottom: 3rem; }

.footer__mail-link {
  font-family: "Raleway", sans-serif !important;
  font-size: 1rem;
  color: #a26952;
  margin-bottom: 2rem; }
  @media only screen and (min-width: 23.75rem) {
    .footer__mail-link {
      font-size: 1.25rem; } }
  @media only screen and (min-width: 64.0625rem) {
    .footer__mail-link {
      font-size: 1.5rem; } }

.footer__social-links-container {
  color: #a26952;
  font-size: 2rem;
  margin-bottom: 2rem; }
  .footer__social-links-container a + a {
    margin-left: 1rem; }

.footer__links-container {
  margin-bottom: 2rem; }
  .footer__links-container a {
    font-family: "Raleway", sans-serif;
    margin-bottom: 0.5rem; }
