html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Playfair Display", serif;
  scroll-behavior: smooth;
  height: 100%;
  overflow-x: hidden; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  height: 100%;
  width: 100vw; }

a,
a:visited,
a:link,
a:active {
  text-decoration: none;
  font-family: "Playfair Display", serif;
  color: #a26952; }

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  color: #a26952;
  font-weight: 400; }

.headline--section {
  font-size: clamp(2rem, 5vw, 3rem); }

p {
  font-family: "Raleway", sans-serif;
  color: #a26952;
  line-height: 1.5em;
  font-size: clamp(1rem, 3vw, 1.2rem); }

.text {
  margin-bottom: 3rem; }

.cta {
  width: 190px;
  height: 50px;
  margin-bottom: 2rem;
  font-size: 1rem;
  color: #a26952;
  background: white;
  border: 1px solid #a26952;
  cursor: pointer;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in; }

.cta:hover {
  background-color: #a26952;
  color: white; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

@media only screen and (min-width: 64.0625rem) {
  .hide-on-large {
    display: none; } }

@media only screen and (max-width: 62.5rem) {
  .hide-on-small {
    display: none; } }

.logo-container {
  position: fixed;
  top: 0;
  width: 98vw;
  height: 7.5rem;
  left: 1vw;
  background: white;
  z-index: 10; }

.logo-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #a26952; }

.logo__img {
  width: 6.25rem;
  height: auto;
  z-index: 1; }

.contact-head {
  position: fixed;
  top: 1.25rem;
  right: 1.25rem;
  z-index: 11; }
  .contact-head .far,
  .contact-head .fab {
    color: #a26952;
    font-size: 1.5rem;
    margin-left: 1rem; }

.burger-menu {
  position: fixed;
  top: 4.5rem;
  right: 3.125rem;
  width: 3.125rem;
  height: 3.125rem;
  z-index: 11; }
  .burger-menu__line {
    width: 80%;
    height: 2px;
    background: #a26952;
    margin-bottom: 8px; }
  .burger-menu__line--middle {
    width: 100%; }

.container {
  width: 100vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.nav-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%); }
  @media only screen and (min-width: 64.0625rem) {
    .nav-container {
      width: 50vw;
      -webkit-transform: translateY(0);
              transform: translateY(0); } }

.nav {
  z-index: 100;
  top: 8rem;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%); }
  @media only screen and (min-width: 64.0625rem) {
    .nav {
      -webkit-transform: translateY(0);
              transform: translateY(0); } }
  .nav__wrapper {
    background: rgba(255, 255, 255, 0.9);
    padding: 1em;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .nav__link-wrapper {
    -webkit-perspective: 500px;
            perspective: 500px;
    -webkit-perspective-origin: center;
            perspective-origin: center;
    position: relative; }
  .nav__link {
    font-size: clamp(2.5rem, 5vw, 4rem);
    line-height: 1.5em;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    display: block;
    -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
    -webkit-transition: opacity 0.5s ease-out, -webkit-transform 0.5s ease-in-out;
    transition: opacity 0.5s ease-out, -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-out;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-out, -webkit-transform 0.5s ease-in-out; }
  .nav .link-up {
    -webkit-transform: translateY(-70%) rotateX(0.25turn);
            transform: translateY(-70%) rotateX(0.25turn);
    opacity: 0; }
  .nav .bottom {
    position: absolute;
    font-size: clamp(2.5rem, 5vw, 4rem);
    color: #a26952;
    opacity: 0.5;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
    -webkit-transition: opacity 0.5s ease-out, -webkit-transform 0.5s ease-in-out;
    transition: opacity 0.5s ease-out, -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-out;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-out, -webkit-transform 0.5s ease-in-out; }
  .nav .bottom-down {
    -webkit-transform: translateY(-100%) rotateX(-0.25turn);
            transform: translateY(-100%) rotateX(-0.25turn);
    opacity: 0; }

main {
  width: 100vw; }
  @media only screen and (min-width: 64.0625rem) {
    main {
      width: 50vw;
      margin-left: 50vw;
      padding-right: 2rem;
      -webkit-transform: translateY(0);
              transform: translateY(0); } }

section {
  padding: 0 1.25rem 0 1.25rem; }
  @media only screen and (min-width: 64.0625rem) {
    section {
      padding: 0 1.25rem 0 0; } }

.hero {
  height: 100vh;
  margin-bottom: 3rem; }
  .hero__headline {
    margin-top: 9rem;
    text-align: center;
    font-size: clamp(2rem, 5vw, 3rem); }
  .hero__slider {
    width: 90%;
    height: 45vh;
    margin-top: 3rem;
    -webkit-perspective: 45vh;
            perspective: 45vh;
    -webkit-perspective-origin: center 50%;
            perspective-origin: center 50%;
    position: relative; }
  .hero .slider__img {
    position: absolute;
    height: 100%;
    width: auto;
    -webkit-transition: opacity 1s ease-in, -webkit-transform 1s ease-in-out, -webkit-filter 1s ease-out;
    transition: opacity 1s ease-in, -webkit-transform 1s ease-in-out, -webkit-filter 1s ease-out;
    transition: transform 1s ease-in-out, opacity 1s ease-in, filter 1s ease-out;
    transition: transform 1s ease-in-out, opacity 1s ease-in, filter 1s ease-out, -webkit-transform 1s ease-in-out, -webkit-filter 1s ease-out; }
  .hero .pos1 {
    -webkit-transform: translateZ(-250px) translateX(calc(45vh / 1.7)) rotateY(0.25turn);
            transform: translateZ(-250px) translateX(calc(45vh / 1.7)) rotateY(0.25turn);
    z-index: -1;
    opacity: 0; }
  .hero .pos2 {
    -webkit-transform: translateZ(-150px) translateX(calc(45vh / 1.7)) rotateY(0.15turn);
            transform: translateZ(-150px) translateX(calc(45vh / 1.7)) rotateY(0.15turn);
    opacity: 0.7;
    -webkit-filter: blur(2px);
            filter: blur(2px);
    -webkit-box-shadow: 0 10px 15px -8px rgba(0, 0, 0, 0.5);
            box-shadow: 0 10px 15px -8px rgba(0, 0, 0, 0.5);
    z-index: 1; }
  .hero .pos3 {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    z-index: 2;
    -webkit-box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.5);
            box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.5); }
  .hero .pos4 {
    -webkit-transform: translateZ(-150px) translateX(calc(-45vh / 1.7)) rotateY(-0.15turn);
            transform: translateZ(-150px) translateX(calc(-45vh / 1.7)) rotateY(-0.15turn);
    opacity: 0.7;
    -webkit-filter: blur(2px);
            filter: blur(2px);
    -webkit-box-shadow: 0 10px 15px -8px rgba(0, 0, 0, 0.5);
            box-shadow: 0 10px 15px -8px rgba(0, 0, 0, 0.5); }
  .hero .pos5 {
    -webkit-transform: translateZ(-250px) translateX(calc(-45vh / 1.7)) rotateY(-0.25turn);
            transform: translateZ(-250px) translateX(calc(-45vh / 1.7)) rotateY(-0.25turn);
    z-index: -1;
    opacity: 0; }

.weddings__headline {
  margin-bottom: 7rem; }

.weddings__img-container {
  width: 100%;
  margin-bottom: 5rem; }

.weddings .upright {
  position: relative;
  width: 28%;
  height: auto;
  background: white;
  padding: 1%;
  -webkit-box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.3); }

.weddings .across {
  position: relative;
  width: 39%;
  height: auto;
  background: white;
  padding: 1%;
  -webkit-box-shadow: 0 10px 20px -8px rgba(63, 46, 46, 0.3);
          box-shadow: 0 10px 20px -8px rgba(63, 46, 46, 0.3); }

.weddings__img--left {
  -webkit-transform: scale(1.2) translate(7%) rotate(-5deg);
          transform: scale(1.2) translate(7%) rotate(-5deg);
  z-index: 2; }

.weddings__img--middle {
  -webkit-transform: scale(1.3) translate(5%, -60%);
          transform: scale(1.3) translate(5%, -60%);
  z-index: 1; }

.weddings__img--right {
  -webkit-transform: scale(1.2) translate(0%, 10%) rotate(5deg);
          transform: scale(1.2) translate(0%, 10%) rotate(5deg);
  z-index: 2; }

.weddings__img2--left {
  -webkit-transform: scale(1.2) translate(10%) rotate(-5deg);
          transform: scale(1.2) translate(10%) rotate(-5deg);
  z-index: 1; }

.weddings__img2--middle {
  -webkit-transform: scale(1.1) translate(0%, -40%);
          transform: scale(1.1) translate(0%, -40%);
  z-index: 2; }

.weddings__img2--right {
  -webkit-transform: scale(1.2) translate(0%, 5%) rotate(5deg);
          transform: scale(1.2) translate(0%, 5%) rotate(5deg);
  z-index: 1; }

.weddings__text {
  margin: 3rem 0 3rem 0;
  text-align: justify; }

.weddings__img--full {
  width: 100%;
  height: auto;
  -webkit-box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.3); }

.portraits__headline {
  margin-bottom: 3rem; }

.portraits__img-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.25rem;
  margin-bottom: 3rem; }

.portraits__img {
  width: 100%;
  height: auto;
  -webkit-box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.3); }

.portraits__img1 {
  grid-column: 1/2;
  grid-row: 1/2; }

.portraits__img2 {
  grid-column: 2/3;
  grid-row: 1/2; }

.portraits__img3 {
  grid-column: 1/2;
  grid-row: 2/3; }

.portraits__img4 {
  grid-column: 2/3;
  grid-row: 2/3; }

.lifestyle__headline {
  margin-bottom: 3rem; }

.lifestyle__img-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1.25rem;
  margin-bottom: 3rem; }

.lifestyle__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.3); }

.lifestyle__img1 {
  grid-column: 1/2;
  grid-row: 1/2; }

.lifestyle__img2 {
  grid-column: 2/4;
  grid-row: 1/2; }

.lifestyle__img3 {
  grid-column: 1/3;
  grid-row: 2/3; }

.lifestyle__img4 {
  grid-column: 3/4;
  grid-row: 2/3; }

.lifestyle__img5 {
  grid-column: 1/2;
  grid-row: 3/4; }

.lifestyle__img6 {
  grid-column: 2/4;
  grid-row: 3/4; }

.lifestyle__img7 {
  grid-column: 1/3;
  grid-row: 4/5; }

.lifestyle__img8 {
  grid-column: 3/4;
  grid-row: 4/5; }

.events__headline {
  margin-bottom: 3rem; }

.events__img-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.25rem;
  margin-bottom: 3rem; }

.events__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.3); }

.events__img1 {
  grid-column: 1/2;
  grid-row: 1/2; }

.events__img2 {
  grid-column: 2/4;
  grid-row: 1/2; }

.events__img3 {
  grid-column: 4/5;
  grid-row: 1/2; }

.events__img4 {
  grid-column: 1/2;
  grid-row: 2/3; }

.events__img5 {
  grid-column: 2/4;
  grid-row: 2/3; }

.events__img6 {
  grid-column: 4/5;
  grid-row: 2/3; }

.about__headline {
  margin-bottom: 3rem; }

.about__img-container {
  width: 100%; }
  @media only screen and (min-width: 64.0625rem) {
    .about__img-container {
      width: 25vw; } }

.about__img {
  width: 100%;
  height: auto;
  -webkit-box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.3);
  margin-bottom: 3rem; }

.gallery__headline {
  margin-bottom: 3rem;
  text-align: center; }

.gallery__grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 1.25rem; }

.gallery__img-wrapper {
  width: 100%;
  height: auto;
  overflow: hidden;
  -webkit-box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.3); }

.gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.8s ease-in;
  transition: -webkit-transform 0.8s ease-in;
  transition: transform 0.8s ease-in;
  transition: transform 0.8s ease-in, -webkit-transform 0.8s ease-in;
  cursor: pointer; }

.gallery__img:hover {
  -webkit-transform: scale(1.05) rotate(1deg);
          transform: scale(1.05) rotate(1deg); }

.gallery__img-wrapper1 {
  grid-column: 1/2;
  grid-row: 1/2; }

.gallery__img-wrapper2 {
  grid-column: 2/3;
  grid-row: 1/2; }

.gallery__img-wrapper3 {
  grid-column: 3/5;
  grid-row: 1/2; }

.gallery__img-wrapper4 {
  grid-column: 1/3;
  grid-row: 2/3; }

.gallery__img-wrapper5 {
  grid-column: 3/4;
  grid-row: 2/3; }

.gallery__img-wrapper6 {
  grid-column: 4/5;
  grid-row: 2/3; }

.gallery__img-wrapper7 {
  grid-column: 1/2;
  grid-row: 3/4; }

.gallery__img-wrapper8 {
  grid-column: 2/4;
  grid-row: 3/4; }

.gallery__img-wrapper9 {
  grid-column: 4/5;
  grid-row: 3/4; }

.gallery__img-wrapper10 {
  grid-column: 1/2;
  grid-row: 4/5; }

.gallery__img-wrapper11 {
  grid-column: 2/3;
  grid-row: 4/5; }

.gallery__img-wrapper12 {
  grid-column: 3/5;
  grid-row: 4/5; }

.gallery__img-wrapper13 {
  grid-column: 1/3;
  grid-row: 5/6; }

.gallery__img-wrapper14 {
  grid-column: 3/4;
  grid-row: 5/6; }

.gallery__img-wrapper15 {
  grid-column: 4/5;
  grid-row: 5/6; }

.gallery__img-wrapper16 {
  grid-column: 1/3;
  grid-row: 6/7; }

.gallery__img-wrapper17 {
  grid-column: 3/4;
  grid-row: 6/7; }

.gallery__img-wrapper18 {
  grid-column: 4/5;
  grid-row: 6/7; }

.gallery__img-wrapper19 {
  grid-column: 1/2;
  grid-row: 7/8; }

.gallery__img-wrapper20 {
  grid-column: 2/4;
  grid-row: 7/8; }

.gallery__img-wrapper21 {
  grid-column: 4/5;
  grid-row: 7/8; }

.gallery__img-wrapper22 {
  grid-column: 1/2;
  grid-row: 8/9; }

.gallery__img-wrapper23 {
  grid-column: 2/3;
  grid-row: 8/9; }

.gallery__img-wrapper24 {
  grid-column: 3/5;
  grid-row: 8/9; }

.gallery__img-wrapper25 {
  grid-column: 1/3;
  grid-row: 9/10; }

.gallery__img-wrapper26 {
  grid-column: 3/4;
  grid-row: 9/10; }

.gallery__img-wrapper27 {
  grid-column: 4/5;
  grid-row: 9/10; }

.gallery__img-wrapper28 {
  grid-column: 1/2;
  grid-row: 10/11; }

.gallery__img-wrapper29 {
  grid-column: 2/4;
  grid-row: 10/11; }

.gallery__img-wrapper30 {
  grid-column: 4/5;
  grid-row: 10/11; }

.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.95);
  z-index: 1000; }
  .modal__btn--close {
    width: 3.125rem;
    height: 3.125rem;
    position: relative;
    margin-left: 90vw;
    margin-top: 1%;
    cursor: pointer; }
  .modal__btn--close::before {
    content: "";
    position: absolute;
    top: 49%;
    width: 100%;
    height: 2px;
    background: white;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .modal__btn--close::after {
    content: "";
    position: absolute;
    top: 49%;
    width: 100%;
    height: 2px;
    background: white;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .modal__img-wrapper {
    width: 100%;
    height: 80vh;
    padding: 0 10rem 0 10rem; }
  .modal .up {
    height: 100%;
    width: auto;
    margin: 0 auto; }
  .modal .acr {
    width: 100%;
    height: auto;
    margin: 0 auto; }

.closed {
  display: none; }
