$bg-color: white;
$primary-color: #a26952;

html {
    font-size: 100%;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
    scroll-behavior: smooth;
    height: 100%;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    //outline: 1px solid blue;
}

body {
    // overflow-x: hidden;
    height: 100%;
    width: 100vw;
}

a,
a:visited,
a:link,
a:active {
    text-decoration: none;
    font-family: "Playfair Display", serif;
    color: $primary-color;
}

h1,
h2,
h3 {
    font-family: "Playfair Display", serif;
    color: $primary-color;
    font-weight: 400;
}

.headline--section {
    font-size: clamp(2rem, 5vw, 3rem);
}

p {
    font-family: "Raleway", sans-serif;
    color: $primary-color;
    line-height: 1.5em;
    font-size: clamp(1rem, 3vw, 1.2rem);
}

.text {
    margin-bottom: 3rem;
}

.cta {
    width: 190px;
    height: 50px;
    margin-bottom: 2rem;
    font-size: 1rem;
    color: $primary-color;
    background: $bg-color;
    border: 1px solid $primary-color;
}

// helper classes

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.ai-c {
    align-items: center;
}

.jc-c {
    justify-content: center;
}

.jc-sb {
    justify-content: space-between;
}

.hide-on-large {
    @media only screen and (min-width: 64.0625rem) {
        display: none;
    }
}

.hide-on-small {
    @media only screen and (max-width: 62.5rem) {
        display: none;
    }
}
