$bg-color: white;
$primary-color: #a26952;
//#a26952

$small: 23.75rem;
$medium: 64.0625rem;
$large: 120.0625rem;

$max-width: 160rem;

html {
    font-size: 100%;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
    scroll-behavior: smooth;
    height: 100%;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    //outline: 1px solid blue;
}

*:focus {
    outline: dotted 2px $primary-color;
}

body {
    // overflow-x: hidden;
    height: 100%;
    width: 100vw;
    max-width: $max-width;
    margin: 0 auto;
}

a,
a:visited,
a:link,
a:active {
    text-decoration: none;
    font-family: "Playfair Display", serif;
    color: $primary-color;
}

h1,
h2,
h3 {
    font-family: "Playfair Display", serif;
    color: $primary-color;
    font-weight: 400;
}

.headline--section {
    font-size: clamp(2rem, 5vw, 3rem);
    margin-top: 2rem;
}

p {
    font-family: "Raleway", sans-serif;
    color: $primary-color;
    line-height: 1.5em;
    font-size: clamp(1rem, 3vw, 1.2rem);
}

.text {
    margin-bottom: 3rem;
}

.cta {
    padding: 1em 2em;
    margin-bottom: 2rem;
    font-family: "Raleway", sans-serif !important;
    font-size: 1rem;
    color: $primary-color;
    background: $bg-color;
    border: 1px solid $primary-color;
    cursor: pointer;
    transition: all 0.4s ease-in;
}

.cta:hover {
    background: $primary-color;
    color: $bg-color;
}

.social-link {
    width: 1.5rem;
    height: 1.5rem;
    background: $primary-color;
    mask-size: cover;
    cursor: pointer;
}

.social-link--fb {
    mask: url(../images/icon-facebook.svg);
}

.social-link--insta {
    mask: url(../images/icon-instagram.svg);
}

// helper classes

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.ai-c {
    align-items: center;
}

.jc-c {
    justify-content: center;
}

.jc-sb {
    justify-content: space-between;
}

.span2 {
    grid-column-end: span 2;
}

.hide-on-large {
    @media only screen and (min-width: 64.0625rem) {
        display: none;
    }
}

.hide-on-small {
    @media only screen and (max-width: 62.5rem) {
        display: none;
    }
}

// keyframes

@keyframes fade-in-next {
    from {
        transform: translateX(15rem);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in-prev {
    from {
        transform: translateX(-15rem);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
